<header>
    <div class="header__title"><strong>11ty 2.0 learning</strong></div>

    <menu>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
    </menu>
</header>